# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local environment files (DO NOT COMMIT SECRETS TO GITHUB)
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
